.section-container.vertical-tabs{ data: { section: "vertical-tabs" } }
  %section.active
    %p.title{ data: { "section-title" => true } }
      = link_to '#inbox' do
        %i.ico-mail
        Inbox
        %sup.badge (#{@inbox_thread_count})
    .content{ data: { "section-content" => true } }
      .row
        %table
          %thead
            %tr
              %th Sender
              %th Subject
              %th Messages
          %tbody
            - @messages.each do |m|
              %tr{ class: "#{ 'unread' if m.is_unread?(current_user) }" }
                %td= link_to m.last_sender.name, message_path(m)
                %td= link_to m.subject, message_path(m)
                %td= link_to m.count_messages, message_path(m)
  %section
    %p.title{ data: { 'section-title' => true } }
      = link_to '#sent' do
        %i.ico-paperplane
        Sent
        %sup.badge (#{@sent_thread_count})
    .content{ data: { "section-content" => true } }
      %p Sent Messages
  %section
    %p.title{ data: { "section-title" => true } }
      = link_to '#trash' do
        Trash
    .content{ data: { "section-content" => true } }
      %p Deleted Messages