.section-container.vertical-tabs{ data: { section: "vertical-tabs" } }
  %section.active
    %p.title{ data: { "section-title" => true } }
      = link_to '#' do
        Inbox
        %sup.badge (#{@inbox_thread_count})
    .content{ data: { "section-content" => true } }
      %p Some content for the inbox.
  %section
    %p.title{ data: { "section-title" => true } }
      = link_to '#' do
        Sent
        %sup.badge (#{@sent_thread_count})
    .content{ data: { "section-content" => true } }
      %p Content of Sent
  %section
    %p.title{ data: { "section-title" => true } }
      = link_to '#' do
        Trash
    .content{ data: { "section-content" => true } }
      %p Content of Trash
  - if @search
    %section
      %p.title{ data: { "section-title" => true } }
        = link_to '#' do
          Results for '#{@search}'
      .content{ data: { "section-content" => true  } }
        %p Content of section 1