#actions
  - if @conversation.is_trashed?(current_user)
    /= link_to "Untrash", untrash_message_path(@conversation), class: :button, method: :post
  - else
    /= link_to "Trash", trash_message_path(@conversation), class: :button, method: :delete
%h2
  Re:
  - space = Space.where(title: @conversation.subject.split("Something about ")[1]).first
  - if space 
    = link_to @conversation.subject, space_path(space)
  - else
    = @conversation.subject
#conversation
  - @conversation.messages.each do |message|
    .row
      .small-4.column
        .panel
          %ul
            %li
              %strong From:
              = link_to message.sender.name, user_path(message.sender)
            %li
              %strong Sent:
              #{time_ago_in_words(message.created_at)} ago
      .small-8.column
        = message.body
        - if message.attachment.url
          .attachment
            = link_to message.attachment_identifier, message.attachment.url
      %hr
  %h4 Your Reply
  = simple_form_for @message do |f|
    .row
      .small-8.column.large-push-8
        = f.input :conversation_id, as: :hidden
        = f.input_field :body, as: :text, label: 'Reply'
      .small-4.column.large-pull-4
        = f.button :submit, 'Send Message', class: "button greenie fullbtn radius"

