%h2
  Edit Profile
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  .row
    .large-3.columns.fitimg
      - if resource.avatar.exists?
        = image_tag resource.avatar.url(:square)
      - else
        = image_tag "http://placehold.it/250x250"
      = f.file_field :avatar
      %p.small
        Joined #{time_ago_in_words @user.created_at} ago.
    .large-9.columns
      .row
        .large-3.column
          %h4 Your Name
        .large-9.column
          = f.label :name
          = f.input :name, :autofocus => true
      %hr
      .row
        .large-3.column
          %h4 Email
        .large-9.column
          = f.input :email, :required => true
      %hr
      .row
        .large-3.column
          %h4 About You
        .large-9.column
          = f.input :bio, :as => :text 
      %hr
      .row
        .large-3.column
          %h4 Change Password
        .large-9.column
          = f.input :password, :autocomplete => "off", :label => 'New Password', :required => false
          = f.input :password_confirmation, :label => 'Again', :required => false
      %hr
      .row
        .large-3.column
          %h4 Confirm Changes
        .large-9.column
          = f.input :current_password, :required => true
          = f.button :submit, 'Update Profile', :class => 'fullbtn button radius btn-primary greenie'
      %hr
      .row
        .large-3.column
          %h4 Cancel Account
        .large-9.column
          #{link_to "Close My Account", registration_path(resource_name), :data => { :confirm => "Are you sure?", :class => 'button btn-primary red radius' }, :method => :delete}.
      
   
 