.row
  .large-3.column
    %h4 Space Title
  .large-9.column
    = f.input :title, required: true, autofocus: true
%hr
.row
  .large-3.column
    %h4 Address
  .large-9.column
    = f.input :address1, required: true
    = f.input :address2
    .row
      .small-6.column
        = f.input :city, required: true
      .small-3.column
        = subregion_select(:order, :state_code, 'US')
      .small-3.column
        = f.input :zip, required: true

  