.row
  .large-3.column
    %h4 Space Title
  .large-9.column
    = f.input :title, required: true, autofocus: true
%hr
.row
  .large-3.column
    %h4 Address
  .large-9.column
    = f.country_select :country_code, priority: %w(US), prompt: 'Select a country'
    = f.input :address1, required: true
    = f.input :address2
    .row
      .small-6.column
        = f.input :city, required: true
      .small-3.column
        = render partial: 'subregion_select', locals: {parent_region: f.object.country_code}
        = f.input_field :state, :label => 'State', collection: us_states, autofocus: true, input_html: {style: 'height:100px!important;'}, required: true
      .small-3.column
        = f.input :zip, required: true

  