.row
  .medium-3.column
    %h4
      Title
      %sup
        = link_to '#' , class: 'query' do
          %i.icon-info-sign
  .medium-9.column
    = f.input :title, required: true, autofocus: true, label: 'Something descriptive and catchy'
%hr
.row
  .medium-3.column
    %h4
      Location
    %p.small
      For
      %a beta
      we are operational in
      %a Maine only.

  .medium-9.column
    = f.input :address1, required: true, label: 'street name & number'
    = f.input :address2, label: 'apt, floor, or suite'
    = f.input :city, required: true, label: 'city'

