.row
  .medium-3.column
    %h4
      Title
  .medium-9.column
    = f.input :title, required: true, autofocus: true, label: 'Something descriptive and catchy'
%hr
.row
  .medium-3.column
    %h4
      Location
    %p.small
      For now, we are operating only in Maine.

  .medium-9.column
    = f.input :address1, required: true, label: 'street name & number'
    = f.input :address2, label: 'apt, floor, or suite'
    .row
      .medium-6.column
        = f.input :city, required: true, label: 'city'
      .medium-6.column
        = f.input :zip, required: true, label: 'zip code'