%h3 Filter Results
.panel
  %form.filter.custom.nomrg{ action: spaces_path, method: "get" }
    %i.icon-location
    = hidden_field_tag "bounds", "", id: "address_search_bounds"
    .environment
      %label Environment
      = select_tag "environment", options_for_select(["Indoor", "Outdoor", "All"], params[:environment] || "All")
    .type
      %label Space Type
      = select_tag "type", options_for_select([ "Attic", "Garage", "Spare Room", "Basement", "Driveway", "Covered Area", "Uncovered Area", "All"], params[:type] || "All")
    .access
      %label Access Level
      = select_tag "access", options_for_select(["Anytime", "Appointment", "Onetime", "All"], params[:access] || "All")
    = button_tag type: "submit", name: nil, :class => "button radius expand greenie" do
      %i.icon-rocket
      Search