%a#filter_btn.button.large.standard.expand.radius
  %i.icon-filter
  Filter Results
%form.filter.custom.nomrg.hide{ action: spaces_path, method: "get" }
  %i.icon-location
  = hidden_field_tag "bounds", "", id: "address_search_bounds"
  .row
    .column.small-12.large-3.environment
      %h3 Environment
      = select_tag "environment", options_for_select(["Indoor", "Outdoor", "All"], params[:environment] || "All")
    .column.small-12.large-3.type
      %h3 Space Type
      = select_tag "type", options_for_select([ "Attic", "Garage", "Spare Room", "Basement", "Driveway", "Covered Area", "Uncovered Area", "All"], params[:type] || "All")
    .column.small-12.large-3.access
      %h3 Access Level
      = select_tag "access", options_for_select(["Anytime", "Appointment", "Onetime", "All"], params[:access] || "All")
    .column.small-12.large-3.access
      = button_tag type: "submit", name: nil, :class => "button radius expand greenie" do
        %i.icon-rocket
        Search