- @spaces.each do |s|
  .row.locations
    .large-8.column
      = link_to image_or_placeholder(s.photo, :square), space_path(s)
      %h3
        = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
      /
        - if can_edit_space?(s)
          = link_to edit_space_path(s), {:class=>'edit'} do
            EDIT
      %h5 #{s.user.name}
      %h5
        %i.icon-map-marker.pull-left
        #{s.address1}, #{s.city} #{s.state}
      %ul
        %li
          - if s.type == "attic"
            .entypo-flashlight Attic Space
          - elsif s.type == "spare room"
            .maki-lodging Spare Room
          - elsif s.type == "garage"
            .maki-warehouse Garage
          - elsif s.type == "basement"
            .maki-lodging Basement
          - elsif s.type == "covered area"
            .icon-umbrella Covered Area
          - elsif s.type == "uncovered area"
            .maki-warehouse Uncovered Area
          - elsif s.type == "driveway"
            .icon-road Driveway
        %li
          - if s.access == "anytime"
            .typicons-repeat Anytime Access
          - elsif s.access == "by appointment"
            .typicons-shuffle Appointment Access
          - elsif s.access == "limited"
            .typicons-loop One-Time Access

          
    .small-12.large-4.column
      .well
        %h3
          $
          = succeed " / Month" do
            = h s.monthly_price
        - if not s.available
          = link_to '#', {:class=>'button radius fullbtn'} do
            %i{:class=>'icon-thumbs-down'}
            NOT AVAILABLE
        - elsif not user_signed_in?
          = link_to new_user_session_path, {:class=>'button radius greenie fullbtn hast-tip', :title => 'Sign in and book'} do
            %i{:class=>'icon-ok'}
            Sign in & Book It
        - else
          = form_tag(user_charges_path(current_user), method: :post) do  
            = hidden_field_tag 'space_id', s.id
            = button_tag type: "submit", name: nil, :class => "button book-it-button radius fullbtn greenie", 'data-address'=> s.normalized_address, 'data-price'=> s.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key], 'data-image'=>s.photo.url(:thumb)  do
              %i.icon-ok
              Book It
        
        = link_to 'Contact owner', 'javascript:;', class: 'button fullbtn radius', "data-reveal-id" => "messageModal"
= render 'spaces/modals'
