- @spaces.each do |s|
  .row
    .small-5.large-2.column.fitimg
      = link_to image_or_placeholder(s.photo, :square), space_path(s)
    .small-7.large-6.column
      %h3
        = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
      - if s.user
        %a.has-tip.avatar{"data-tooltip" => "", :title => s.user.name, :href => user_path(s.user) }
          - if s.user.avatar.exists?
            = image_tag s.user.avatar.url(:thumb)
      - else
        = image_tag "http://placehold.it/32x32"
    .small-12.large-4.column
      .price
        %h2
          $
          #{s.monthly_price} / Month
        - if signed_in? and current_user.id == s.user_id or current_user.has_role? :admin
          = link_to edit_space_path(s), {:class=>'button radius fullbtn warmish'} do
            %i{:class=>'icon-pencil'}
            Edit Listing
        - else
          = link_to '#', {:class=>'button radius greenie fullbtn', 'data-address'=> s.normalized_address, 'data-price'=> s.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
            %i{:class=>'icon-ok'}
            Book It
