- @spaces.each do |s|
  .row.locations
    .large-8.column
      - if s.photo.exists?
        = link_to image_or_placeholder(s.photo, :square), space_path(s)
      - else
        = image_tag "http://placehold.it/282x282"
      %h3
        = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
      %h5
        %i.icon-map-marker.pull-left
        #{s.city}, #{s.state}
      %h5
        = link_to s.user.name, user_path(s.user)
      %ul
        - if s.type?
          = render 'spaces/detail/type'
        - if s.access?
          = render 'spaces/detail/access'

    .small-12.large-4.column
      .well
        %h3
          $
          = succeed " / Month" do
            = h s.monthly_price
        - if not s.available
          = link_to '#', {:class=>'button radius fullbtn'} do
            %i{:class=>'icon-thumbs-down'}
            NOT AVAILABLE
        - elsif not user_signed_in?
          = link_to new_user_session_path, {:class=>'button radius greenie fullbtn hast-tip', :title => 'Sign in and book'} do
            %i{:class=>'icon-ok'}
            Sign in & Book It
        - elsif can_edit_space?(s)
          = link_to edit_space_path(s), {:class=>'button radius fullbtn warmish'} do
            %i{:class=>'icon-pencil'}
            Edit
        - elsif not can_edit_space?(s)
          = link_to space_path(s), {:class=>'button radius fullbtn greenie'} do
            %i.icon-ok
            Book It

