- @spaces.each do |s|
  .row.locations
    .small-2.large-2.column
      = link_to image_or_placeholder(s.photo, :square), space_path(s)
    .small-10.large-6.column
      %h3
        = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
      %h5
        %i.icon-map-marker.pull-left
        #{s.address1}, #{s.city} #{s.state}
      %ul.inline-list
        %li
          %i.icon-globe.pull-left
          #{s.environment}
        %li
          %i.icon-building.pull-left
          #{s.type}
        %li
          %i.icon-time.pull-left
          #{s.access}

          
    .small-12.large-4.column
      .price
        %h2
          $
          = succeed " / Month" do
            = h s.monthly_price
        - if can_edit_space?(s)
          = link_to edit_space_path(s), {:class=>'button radius fullbtn warmish'} do
            %i{:class=>'icon-pencil'}
            Edit

        - if not s.available
          = link_to '#', {:class=>'button radius fullbtn'} do
            %i{:class=>'icon-thumbs-down'}
            NOT AVAILABLE
        - elsif not user_signed_in?
          = link_to new_user_session_path, {:class=>'button radius greenie fullbtn hast-tip', :title => 'Sign in and book'} do
            %i{:class=>'icon-ok'}
            Sign in & Book It
        - else
          = link_to '#', {:class=>'button radius greenie fullbtn book-it-button', 'data-address'=> s.normalized_address, 'data-price'=> s.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
            %i{:class=>'icon-ok'}
            Book It
