- @spaces.each do |s|
  .bigtime{:style => "background-image: url(#{s.photo if s.photo.exists?})"}
    = link_to space_path(s) do
      .bigprice
        .dollars
          %sup $
          #{s.monthly_price}
        .small per month
    .shade
      %h2
        = link_to space_path(s) do
          #{s.title}
        %sup
          %i.icon-map-marker
          #{s.city}, #{s.state}
          - if can_edit_space?(s)
            - if is_space_owner?(s)
              - link_text = 'Edit'
              - title = 'Edit Your Listing'
            - else
              - link_text = 'Admin Edit'
              - title = 'Admin Edit Listing'
            |
            = link_to edit_space_path(s), { :class=>'icon-btn has-tip', :title => title } do
              = link_text
      %ul.features.clearfix
        - if s.environment? == "indoor"
          %li.has-tip{ data: { tooltip: 'Indoors' }, title: 'Indoors' }
            .ico-home
        - elsif s.environment == "outdoor"
          %li.has-tip{ data: { tooltip: 'Outdoors' }, title: 'Outdoors' }
            .ico-tree
        - if s.type?
          - if s.type == "attic"
            %li.has-tip{ data: { tooltip: 'Attic' }, title: 'Attic' }
              .ico-flashlight
          - elsif s.type == "spare_room"
            %li.has-tip{ data: { tooltip: 'Spare Room' }, title: 'Spare Room' }
              .ico-dolly
          - elsif s.type == "garage"
            %li.has-tip{ data: { tooltip: 'Garage' }, title: 'Garage' }
              .ico-drill
          - elsif s.type == "basement"
            %li.has-tip{ data: { tooltip: 'Basement' }, title: 'Basement' }
              .ico-travel
          - elsif s.type == "covered"
            %li.has-tip{ data: { tooltip: 'Covered' }, title: 'Covered' }
              .ico-trailer
          - elsif s.type == "uncovered"
            %li.has-tip{ data: { tooltip: 'Uncovered' }, title: 'Uncovered' }
              .ico-acorn
          - elsif s.type == "driveway"
            %li.has-tip{ data: { tooltip: 'Driveway' }, title: 'Driveway' }
              .icon-road
        - if s.access?
          - if s.access == "anytime"
            %li.has-tip{ data: { tooltip: 'Anytime Access' }, title: 'Anytime Access' }
              .ico-open
          - elsif s.access == "appointment"
            %li.has-tip{ data: { tooltip: 'Appointment Access' }, title: 'Appointment Access' }
              .ico-clock
          - elsif s.access == "limited"
            %li.has-tip{ data: { tooltip: 'Limited Access' }, title: 'Limited Access' }
              .ico-bolt
        - if s.climate_controlled?
          %li.has-tip{ data: { tooltip: 'Climate Controlled' }, title: 'Climate Controlled' }
            .ico-equalizer
        - if s.lockable?
          %li.has-tip{ data: { tooltip: 'Lockable' }, title: 'Lockable' }
            .ico-locked
        - if s.attended?
          %li.has-tip{ data: { tooltip: 'Attended' }, title: 'Attended' }
            .ico-tie
