- @spaces.each do |s|
  .row.locations
    .large-8.column
      = link_to image_or_placeholder(s.photo, :square), space_path(s)
      %h3
        = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
      %h5
        %i.icon-map-marker.pull-left
        #{s.normalized_address}
      %ul
        = render 'spaces/detail/type'
        = render 'spaces/detail/access'

    .small-12.large-4.column
      .well
        %h3
          $
          = succeed " / Month" do
            = h s.monthly_price
        - if can_edit_space?(s)
          = link_to edit_space_path(s), {:class=>'button radius fullbtn warmish'} do
            %i{:class=>'icon-pencil'}
            Edit Listing

