
= simple_form_for(@resource, html: {class: 'form-vertical custom', id: 'list-space-step1' }) do |f|
  .row
    .large-4.small-12.push-8.columns
      .price
        %h2#monthly_price_label
          %span
            $
            = succeed " / Month" do
              = h @resource.monthly_price
        
        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "9,1000", 'data-slider-step' => '25' }
      %ul.small-block-grid-1.large-block-grid-2.fitimg  
        %li
          = image_or_placeholder(@resource.photo)
          = f.file_field :photo
        %li
          = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5
    .small-12.large-8.pull-4.columns
      %h2 Edit a Space
      = render 'address'
      %hr
      = render 'features'
      .row
        .small-12.large-6.column
          = f.button :submit, 'Update', class: 'btn-primary button greenie radius'
      #{link_to "Delete Listing", space_path(@resource), :data => { :confirm => "Are you sure?", :class => 'button btn-primary red radius' }, :method => :delete}.