
= simple_form_for(@resource, html: {class: 'form-vertical custom', id: 'list-space-step1' }) do |f|
  %h2
    Edit:
    %strong
      #{@resource.title}
  .row
    .medium-8.columns
      = render partial: 'address', :locals => { f: f }
      %hr
      = render partial: 'features', :locals => { f: f }
    .medium-4.columns
      .panel
        %h3#monthly_price_label.text-center
          %span
            $
            = succeed " / Month" do
              = h @resource.monthly_price

        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "5,500", 'data-slider-step' => '5', :value => @resource.monthly_price }
      %ol.small-block-grid-3.large-block-grid-2.fitimg
        %li
          - if @resource.photo.exists?
            = image_or_placeholder(@resource.photo)
          = f.file_field :photo, class: 'btn radius'

        %li
          - if @resource.photo2.exists?
            = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          - if @resource.photo3.exists?
            = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          - if @resource.photo4.exists?
            = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          - if @resource.photo5.exists?
            = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5
      = f.button :submit, 'Update & Preview', class: 'btn-primary fullbtn button greenie radius'
      #{link_to "Delete Listing", space_path(@resource), :class => 'button fullbtn btn-primary warning radius', :data => { :confirm => "Are you sure?" }, :method => :delete}
