%h2 
  Find that Space...

  %form.simple_form.custom
    .row
      .large-9.small-9.columns
        .input
          %label 
            %i.icon-search.icon-left
            try boat storage, locked, access level, etc. 
          %input.string{type: 'text'}
      .large-3.small-3.columns
        %button.radius.button
          Search
  = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
- @spaces.each do |s|
  .row.locations
    .small-2.large-2.column
      = link_to image_or_placeholder(s.photo, :thumb), space_path(s)
    .small-10.large-6.column
      .row
        %h4
          = link_to(h(s.normalized_address), space_path(s))
      .row
        - if s.tags.any?
          - s.tags.each do |tag|
            = link_to tag.name, spaces_url(tag: tag.name)
      .row
        %ul.button-group.radius.left.mr10
          - if signed_in? and current_user.id == s.user_id
            %li
              = link_to edit_space_path(s), {:class=>'button'} do
                %i{:class=>'icon-pencil'}
                Edit
            %li

        %a.has-tip{"data-tooltip" => "", :title => "These are notes"}
          %i.icon-info-sign
        %a.has-tip{"data-tooltip" => "", :title => "Patrick"}
          %i.icon-user
    .small-12.large-4.column
      .price
        %h2
          $
          = succeed " / Month" do
            = h s.monthly_price
        = link_to '#', {:class=>'button book-it-button', 'data-address'=> s.normalized_address, 'data-price'=> s.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
          %i{:class=>'icon-ok'}
          Book    

