%h2 
  Find that Space...
.row
  %form.simple_form.custom
    .input.large-9.small-9.columns
      %label 
        %i.icon-search.icon-left
        try boat storage, locked, access level, etc. 
      %input.string{type: 'text'}
    %button.radius.button.submit.large-3.small-3.columns
      Search
.row
  = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
- @spaces.each do |s|
  .row.locations
    .small-2.large-2.column
      = link_to image_or_placeholder(s.photo, :thumb), space_path(s)
    .small-10.large-6.column
      .row
        %h4
          = link_to(h(s.normalized_address), space_path(s))
      .row
        - if s.tags.any?
          - s.tags.each do |tag|
            = link_to tag.name, spaces_url(tag: tag.name)
      .row.button-group.radius
        = link_to space_path(s), {:class=>'button'} do
          %i{:class=>'icon-eye-open'}
          View
        - if signed_in? and current_user.id == s.user_id
          = link_to edit_space_path(s), {:class=>'button'} do
            %i{:class=>'icon-pencil'}
            Edit
        = link_to new_user_charge_path(s), {:class=>'button'} do
          %i{:class=>'icon-ok'}
          Book
    .small-12.large-4.column
      .blockquote
        %p
          = s.notes
          %cite
            %a= link_to s.user.name, user_path(s.user)

