.row
  %h2 
    Available Spaces
  = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
    
- @spaces.each do |s|
  .row.locations
    .small-2.large-2.column
      - if s.photo.exists?
        = image_tag s.photo.url(:thumb)
      - else
        %img{src: "http://placehold.it/100x100"}/
    .small-10.large-6.column
      .row
        %h4
          = h s.normalized_address
      .row
        - if s.tags.any?
          - s.tags.each do |tag|
            = link_to tag.name, spaces_url(tag: tag.name)
      .row.button-group.round
        = link_to space_path(s), {:class=>'button'} do
          %i{:class=>'icon-eye-open'}
          View
        - if signed_in? and current_user.id == s.user_id
          = link_to edit_space_path(s), {:class=>'button'} do
            %i{:class=>'icon-pencil'}
            Edit
        = link_to new_user_charge_path(s), {:class=>'button'} do
          %i{:class=>'icon-ok'}
          Book
    .small-12.large-4.column
      .blockquote
        %p
          = s.notes
          %cite
            %a= link_to s.user.name, user_path(s.user)

