.row
  %h2 
    Available Spaces
  = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
    
- @spaces.each do |s|
  .row.locations
    .small-2.large-2.column
      - if s.photo.exists?
        = image_tag s.photo.url(:thumb)
      - else
        %img{src: "http://placehold.it/100x100"}/
    .small-8.large-8.column
      .row
        %h4
          = h s.normalized_address
      .row
        = link_to "View", space_path(s), :class => 'button'
        = link_to "Edit", edit_space_path(s), :class => 'button'
        = link_to "Book", new_user_charge_path(current_user), :class => 'button'
    .small-2.large-2.column
      %a
        = s.user.name 

