= simple_form_for(@resource, validate: true, html: {class: 'custom', id: 'list-space-step1', autocomplete: 'off' }) do |f|
  %h2 List a Space
  - unless signed_in?
    .input
      %label.string.required.control-label.user_email{ :for => 'user_email'} Email address
      = email_field_tag :user_email
  %p.lead
    %strong Congratulations on listing your first space!
    If you'd like to check out our handy guide on listing an awesome space feel free! Otherwise, enjoy building you listing and if you get stuck or have feedback, just hit us up and we'll get back to you real fastlike.
  .row
    .medium-8.columns
      = render partial: 'address', :locals => { f: f }
      %hr
      = render partial: 'features', :locals => { f: f }
    .medium-4.columns
      .panel
        %h2#monthly_price_label.text-center
          %span
            Set Your Price

        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "0,500", 'data-slider-step' => '5', value: 50 }

      %h4 Add Photos
      %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-2.fitimg
        %li
          = image_or_placeholder(@resource.photo)
          = f.file_field :photo
        %li
          = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5




