.row
  = simple_form_for(@resource, validate: true, html: {class: 'custom', id: 'list-space-step1', autocomplete: 'off' }) do |f|
    .large-4.small-12.push-8.columns
      .price
        %h2#monthly_price_label
          %span
            Set a price
        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "0,500", 'data-slider-step' => '5', value: 50 }

      %ul.small-block-grid-1.large-block-grid-2.fitimg  
        %li
          = image_or_placeholder(@resource.photo)
          = f.file_field :photo
        %li
          = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5
          
    .large-8.small-12.pull-4.columns
      %h2 Add a Space
      %h5 you're well on your way to becoming a spacilist.
      /%h4 Did we mention you are really good looking?
      - unless signed_in?
        .input
          %label Email address
          = email_field_tag :user_email
      %hr
      = render partial: 'address', :locals => { f: f }
      %hr
      = render partial: 'features', :locals => { f: f }
      = f.button :submit, 'Preview', :class => 'button-primary greenie button radius'
