= simple_form_for(@resource, validate: true, html: {class: 'custom', id: 'list-space-step1', autocomplete: 'off' }) do |f|
  .row
    .large-8.small-12.columns
      %h2 Add a Space
      - unless signed_in?
        .input
          %label.string.required.control-label.user_email{ :for => 'user_email'} Email address
          = email_field_tag :user_email
  /
    .large-4.small-12.columns
      .well
        %h3#monthly_price_label
          %span
            Montly Price
        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "0,500", 'data-slider-step' => '5', value: 50 }
  .row
    .large-8.small-12.columns
      %hr
      = render partial: 'address', :locals => { f: f }
      %hr
      = render partial: 'features', :locals => { f: f }
      = f.button :submit, 'Preview', :class => 'button-primary greenie button radius'
    .large-4.small-12.columns
      %ul.small-block-grid-2.fitimg  
        %li
          = image_or_placeholder(@resource.photo)
          = f.file_field :photo
        %li
          = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5
        