%h2 Add a Space
.row
  = simple_form_for(@resource, html: {class: 'custom', id: 'list-space-step1' }) do |f|
    .large-8.column
      .row
        .small-12.column
          %h3 Where is the space?
          %ul
            %li
              %a.button Indoor
            %li
              %a.button Outdoor
        .small-12.column
          %h3 What type of space is it?
          %ul.indoor
            %li
              %a.button Attic or Closet
            %li
              %a.button Garage or Basement
          %ul.outdoor
            %li
              %a.button Driveway or Parking Lot
            %li
              %a.button Covered Space
            %li
              %a.button Open Area
        .small-12.column
          %h3 How's the access?
          %ul.indoor
            %li
              %a.button 24 Hour
            %li
              %a.button Scheduled
            %li
              %a.button Limited
        .small-12.column
          %h3 Features
          %ul.indoor
            %li
              %a.button Climate Controlled
            %li
              %a.button Locked or Gated
            %li
              %a.button Attended
        .small-12.column
          %h3 Dimensions
          = f.input :length, autofocus: true, required: true, :label => 'length'
          = f.input :width, autofocus: true, required: true, :label => 'width'
          = f.input :height, autofocus: true, required: true, :label => 'height'
          = f.input_field :units, input_html: { class: 'selectdrop' }, :label => 'units', priority: [ "United States" ], required: true
      .row
        .small-12.column
          = f.input :address1, autofocus: true, required: true, :label => 'address'
      .row
        .small-12.column
          = f.input :address2, :label => 'apt / unit no.'
      .row
        .small-6.column
          = f.input :city, required: true
        .small-3.column
          = f.input_field :state, :label => 'State', collection: us_states, input_html: {style: 'height:100px!important;'}, required: true
        .small-3.column
          = f.input :zip, required: true
      .row
        .small-12.large-6.column
          = f.input_field :country, input_html: { class: 'selectdrop' }, :label => 'Select Country', priority: [ "United States" ], required: true
      .row
        .large-12.column
          = f.input :notes, :label => 'Tell us a bit about your space.'
      .row
        .small-12.large-6.column
          %label Add a Photo
          = f.file_field :photo
      .row
        .small-12.large-6.column
          = f.button :submit, 'Save', class: 'button-primary large-6 small-12 column'
    .large-4.column
      = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})

    