.row
  %h2 Add a Space
  = simple_form_for(@resource, html: {class: 'form-vertical', id: 'list-space-step1' }) do |f|
    .row
      .small-12.column
        = f.input :notes
    .row
      .small-12.column
        = f.input :address1, autofocus: true, required: true
    .row
      .small-12.column
        = f.input :address2
    .row
      .small-6.column
        = f.input :city, required: true
      .small-3.column
        = f.input_field :state, :label => 'State', collection: us_states, input_html: {style: 'height:100px!important;'}, required: true
      .small-3.column
        = f.input :zip, required: true
    .row
      .small-12.large-6.column
        = f.input_field :country, input_html: { class: 'selectdrop' }, :label => 'Select Country', priority: [ "United States" ], required: true
    .row
      .small-12.large-6.column
        = f.file_field :photo
    .row
      .small-12.large-6.column
        = f.button :submit, 'Save', class: 'btn-primary large-6 small-12 column'
