.row
  = simple_form_for(@resource, html: {class: 'custom', id: 'list-space-step1', autocomplete: 'off' }) do |f|
    .large-4.small.12.push-8.columns
      .price
        %h1#monthly_price_label
          %span
            $$
        = f.input :monthly_price, as: :text, label: false, input_html: { 'data-slider' => 'true', 'data-slider-range' => "9,1000", 'data-slider-step' => '25' }
        %h5 Set Your Price:
      %ul.small-block-grid-1.large-block-grid-2.fitimg  
        %li
          = image_or_placeholder(@resource.photo)
          = f.file_field :photo
        %li
          = image_or_placeholder(@resource.photo2)
          = f.file_field :photo2
        %li
          = image_or_placeholder(@resource.photo3)
          = f.file_field :photo3
        %li
          = image_or_placeholder(@resource.photo4)
          = f.file_field :photo4
        %li
          = image_or_placeholder(@resource.photo5)
          = f.file_field :photo5
          
    .large-8.small-12.pull-4.columns
      %h2 Add a Space
      %h5 you're well on your way to becoming a spacilist.
      /%h4 Did we mention you are really good looking?
      - unless signed_in?
        .input
          %label Email address
          = email_field_tag :user_email
      %hr
      .row
        .small-12.columns
          = f.input :address1, autofocus: true, required: true, :label => 'address'
      .row
        .small-12.columns
          = f.input :address2, :label => 'apt / unit no.'
      .row
        .small-12.large-7.columns
          = f.input :city, required: true
        .small-6.large-2.columns
          = f.input :state, :label => false, collection: us_states, :input_html => { :style => 'height:100px!important;'}, required: true
        .small-6.large-3.columns
          = f.input :zip, required: true
      /
        .row
          .small-12.columns
            = f.input :country, input_html: {:class => 'selectdrop'}, :label => 'Select Country', priority: [ "United States" ], required: false
      %h3 Where is it?
      .button-group.round.where
        = f.collection_radio_buttons :environment, [[:indoor, 'Indoor'] ,[:outdoor, 'Outdoor']], :first, :last do |b|
          = b.radio_button(class: 'hidden-field')
          = b.label(class: 'button', id: "#{b.text.downcase}_button_label") do
            - if b.text == 'Indoor'
              %i.icon-home
            - else
              %i.icon-sun
            %span
              = b.text
      %h3#what_kind_of_space{ style: "display: none" } What type of space is it?
      #indoor_button_group.indoor.button-group.round.what{ style: "display: none" }
        - space_type = [[:attic, 'Attic'],
          [:garage, 'Garage'],
          [:spare_room, 'Spare Room'],
          [:basement, 'Basement']]
        = f.collection_radio_buttons :type, space_type, :first, :second do |b|
          = b.radio_button(class: 'hidden-field')
          = b.label(class: 'button') do
            - if b.text == 'Attic'
            - elsif b.text == 'Garage'
            - elsif b.text == 'Spare Room'
            - else
            - #if b.other

            %span
              = b.text
      /        
        %a.button.dropdown{'data-dropdown' => 'data1', :href => "#"} Other
        %ul#drop1.f-dropdown
          %li
            %a.button Trailer
          %li
            %a.button Cave
          %li
            %a.button Treehouse
          %li
            %a.button Tipi
          %li
            %a.button Earthship
          %li
            %a.button Closet
      #outdoor_button_group.outdoor.button-group.round.what{ style: "display: none" }
        - space_type = [[:driveway, 'Driveway'],
          [:covered, 'Covered Area'],
          [:open, 'Uncovered Area']]
        = f.collection_radio_buttons :type, space_type, :first, :second do |b|
          = b.radio_button(class: 'hidden-field')
          = b.label(class: 'button') do
            - if b.text == 'Driveway'
            - elsif b.text == 'Covered Area'
            - elsif b.text == 'Uncovered Area'
            - else
            - #if b.other

            %span
              = b.text
      %h3 How's the access?
      %ul.button-group.round
        %li
          %a.button 24 Hour
        %li
          %a.button Scheduled
        %li
          %a.button Limited
      %h3 Features
      %ul.checkbtns
        %li.button.round= f.input :climate_controlled, label: 'Climate Controlled'
        %li.button.round= f.input :lockable, label: 'Locked or Gated'
        %li.button.round= f.input :attended, label: 'Attended'
      %h3 Dimensions
      .row
        .small-3.columns
          = f.input :length, autofocus: true, required: true, :label => 'length'
        .small-3.columns
          = f.input :width, autofocus: true, required: true, :label => 'width'
        .small-3.columns
          = f.input :height, autofocus: true, required: true, :label => 'height'
    
      %h3 Description
      = f.input :notes, :label => 'Tell us a bit about your space.'
      = f.button :submit, 'Save', :class => 'button-primary button radius'
