.bigtime{:style => "background-image: url(#{@space.photo if @space.photo.exists?})"}
  .row
    .large-4.small.12.push-8.columns
      
    .large-8.small-12.pull-4.columns
      .shade
        %h2 
          = @space.title
        %h5
          %i.icon-map-marker.pull-left
          #{@space.address1}, #{@space.city} #{@space.state}
            
.row
  .large-4.small.12.push-8.columns
    .price
      %h3
        $
        #{@space.monthly_price} / Month
      - if can_edit_space?(@space)
        = link_to edit_space_path(@space), {:class=>'button radius fullbtn warmish has-tip', "data-tooltip"=>"", :title => 'Like a Boss'} do
          %i{:class=>'icon-pencil'}
          Edit Listing
      - else
        = link_to '#', {:class=>'button radius greenie fullbtn has-tip book-it-button', "data-tooltip"=>"", :title => 'Click & Stow', 'data-address'=> @space.normalized_address, 'data-price'=> @space.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
          %i{:class=>'icon-ok'}
          Book It
      
    = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
  .large-8.small-12.pull-4.columns
    %section.mb20
      %h3 Overview
      %p= @space.notes
    %section.mb20
      %h3 Features
      %ul
        %li
          Environment is: #{@space.environment}
        %li
          Type is: #{@space.type}
        %li
          Access is: #{@space.access}
        %li  
          Climate controlled:  #{@space.climate_controlled}
        %li
          Lockable: #{@space.lockable}
        %li
          Attended: #{@space.attended}
        %li
          Featured: #{@space.featured}
        %li
          Completed listing: #{@space.complete}
          - if can_edit_space?(@space) and (not @space.complete)
            %li
              Are you done with describing your space?
              = simple_form_for @space do |f|
                = f.hidden_field :complete, :value => true
                = f.hidden_field :available, :value => true
                = f.button :submit, 'Looks good, list it!', class: 'btn-primary button greenie radius'
        %li
          Space Available: #{@space.available}
          - if @space.available
            Want to take your space off the market for now?
            = simple_form_for @space do |f|
              = f.hidden_field :available, :value => false
              = f.button :submit, 'Yep, mark space as unavailable', class: 'btn-primary button greenie radius'
          - else 
            Want to mark your space as available again?
            = simple_form_for @space do |f|
              = f.hidden_field :available, :value => true
              = f.button :submit, 'Yep, mark space as available', class: 'btn-primary button greenie radius'
    %section.mb50
      %h3
        - if @space.tags.any? 
          Tags

          - @space.tags.each do |tag|
            = link_to tag.name, spaces_url(tag: tag.name)

    %ul.small-block-2.large-block-grid-4.fitimg
      %li
        = image_or_placeholder(@space.photo2)
      %li
        = image_or_placeholder(@space.photo3)
      %li
        = image_or_placeholder(@space.photo4)
      %li
        = image_or_placeholder(@space.photo5)

    
    