.bigtime{:style => "background-image: url(#{@space.photo if @space.photo.exists?})"}
  .bigprice
    .dollars
      %sup $
      #{@space.monthly_price}
    .small per month
  .shade
    %h2
      = @space.title
    %h4
      = link_to user_path(@space.user), id: 'account' do
        - if @space.user.avatar.exists?
          = image_tag @space.user.avatar.url(:thumb)
        = @space.user.name
.row.mb20
  .medium-6.columns.center-small
    .address
      %i.icon-map-marker
      #{@space.address1}, #{@space.city} #{@space.state}
  .medium-6.columns.center-small
    %ul.features
      - if @space.environment? == "indoor"
        %li.has-tip{ data: { tooltip: 'Indoors' }, title: 'Indoors' }
          .ico-home
      - elsif @space.environment == "outdoor"
        %li.has-tip{ data: { tooltip: 'Outdoors' }, title: 'Outdoors' }
          .ico-tree
      - if @space.type?
        - if @space.type == "attic"
          %li.has-tip{ data: { tooltip: 'Attic' }, title: 'Attic' }
            .ico-flashlight
        - elsif @space.type == "spare_room"
          %li.has-tip{ data: { tooltip: 'Spare Room' }, title: 'Spare Room' }
            .ico-dolly
        - elsif @space.type == "garage"
          %li.has-tip{ data: { tooltip: 'Garage' }, title: 'Garage' }
            .ico-drill
        - elsif @space.type == "basement"
          %li.has-tip{ data: { tooltip: 'Basement' }, title: 'Basement' }
            .ico-travel
        - elsif @space.type == "covered"
          %li.has-tip{ data: { tooltip: 'Covered' }, title: 'Covered' }
            .ico-trailer
        - elsif @space.type == "uncovered"
          %li.has-tip{ data: { tooltip: 'Uncovered' }, title: 'Uncovered' }
            .ico-acorn
        - elsif @space.type == "driveway"
          %li.has-tip{ data: { tooltip: 'Driveway' }, title: 'Driveway' }
            .icon-road
      - if @space.access?
        - if @space.access == "anytime"
          %li.has-tip{ data: { tooltip: 'Anytime Access' }, title: 'Anytime Access' }
            .ico-open
        - elsif @space.access == "appointment"
          %li.has-tip{ data: { tooltip: 'Appointment Access' }, title: 'Appointment Access' }
            .ico-clock
        - elsif @space.access == "limited"
          %li.has-tip{ data: { tooltip: 'Limited Access' }, title: 'Limited Access' }
            .ico-bolt
      - if @space.climate_controlled?
        %li.has-tip{ data: { tooltip: 'Climate Controlled' }, title: 'Climate Controlled' }
          .ico-equalizer
      - if @space.lockable?
        %li.has-tip{ data: { tooltip: 'Lockable' }, title: 'Lockable' }
          .ico-locked
      - if @space.attended?
        %li.has-tip{ data: { tooltip: 'Attended' }, title: 'Attended' }
          .ico-tie
.row
  .large-8.medium-6.columns
    %section.mb20
      - if @space.tags.any?
        %section.mb50#tags
          %h3
            Great for
            - @space.tags.each do |tag|
              %span
                = link_to tag.name, spaces_url(tag: tag.name)
      %p.lead= @space.notes
  .large-4.medium-6.columns
    %ul
      %li
        - if can_edit_space?(@space) and (not @space.complete)
          %li
            Done with describing your space?
            = simple_form_for @space do |f|
              = f.hidden_field :complete, :value => true
              = f.hidden_field :available, :value => true
              = f.button :submit, 'Looks good, list it!', class: 'btn-primary fullbtn button greenie radius'
          %li
            - if @space.available
              Take your space off the market for now?
              = simple_form_for @space do |f|
                = f.hidden_field :available, :value => false
                = f.button :submit, "Deactivate", class: 'btn-primary fullbtn button standard radius'
            - elsif @space.complete
              Mark your space as available again?
              = simple_form_for @space do |f|
                = f.hidden_field :available, :value => true
                = f.button :submit, "Active", class: 'btn-primary fullbtn button greenie radius'
    .well
      - if can_edit_space?(@space)
        = link_to edit_space_path(@space), { :class=>'button radius fullbtn warmish', :title => 'Edit Space' } do
          %i{:class=>'icon-pencil'}
          Edit Listing
      - if not @space.available
        = link_to '#', {:class=>'button radius fullbtn standard'} do
          %i{:class=>'icon-thumbs-down'}
          Make Unavailable
      - elsif not user_signed_in?
        = link_to sign_in_path, { :class=>'button radius greenie fullbtn', :title => 'Sign in and book' } do
          %i{:class=>'icon-ok'}
          Sign in & Book It
      - else
        = form_tag(user_charges_path(current_user), method: :post) do
          = hidden_field_tag 'space_id', @space.id
          = button_tag type: "submit", name: nil, :class => "button book-it-button radius has-tip fullbtn greenie", 'data-address'=> @space.normalized_address, 'data-price'=> @space.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key], 'data-image'=>@space.photo.url(:thumb)  do
            %i.icon-credit-card
            Pay by Card
    %ul.small-block-2.large-block-grid-4.fitimg
      -if @space.photo2?
        %li
          = image_or_placeholder(@space.photo2)
      -if @space.photo3?
        %li
          = image_or_placeholder(@space.photo3)
      -if @space.photo4?
        %li
          = image_or_placeholder(@space.photo4)
      -if @space.photo5?
        %li
          = image_or_placeholder(@space.photo5)
%h3
  Send
  = succeed "a message." do
    %strong
      #{@space.user.name}
= simple_form_for Message.new do |f|
  = f.input :recipient, as: :hidden, input_html: { value: @space.user }
  = f.input :avatar, as: :hidden, input_html: { value: @space.user.avatar.url(:thumb)}
  = f.input :subject, as: :hidden, input_html: { value: "Something about #{@space.title}" }
  = f.input_field :body, as: :text, label: 'Message'
  = f.button :submit, 'Send', class: "button fullbtn radius"