.bigtime{:style => "background-image: url(#{@space.photo})"}
  .row
    .large-8.columns
      %h2 
        = @space.title
      %h5
        = link_to @space.normalized_address, edit_space_path(@space)
      %h3 Amenities
      - if @space.tags.any?
        - @space.tags.each do |tag|
          = link_to tag.name, spaces_url(tag: tag.name)
      - else
        NONE

      = @space.environment
      = @space.notes

      %ul.small-block-2.large-block-grid-4.fitimg
        %li
          = image_or_placeholder(@space.photo2)
        %li
          = image_or_placeholder(@space.photo3)
        %li
          = image_or_placeholder(@space.photo4)
        %li
          = image_or_placeholder(@space.photo5)
      = link_to "Edit this space", edit_space_path(@space)
    .large-4.columns
      .price
        $
        = succeed ".00" do
          = @space.monthly_price
      = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})