.row
  .large-8.columns
    .row
      %h1 
        = @space.title
    .row
      = @space.environment
    .row
      = @space.zip
      = @space.notes
  .large-4.columns
      = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})