.bigtime{:style => "background-image: url(#{@space.photo if @space.photo.exists?})"}
  .row
    .large-4.small.12.push-8.columns
      
    .large-8.small-12.pull-4.columns
      .shade
        %h2 
          = @space.title
        %h5
          %i.icon-map-marker.pull-left
          #{@space.address1}, #{@space.city} #{@space.state}
            
.row
  .large-4.small.12.push-8.columns
    %ul
      %li
        Status:
        - if @space.complete
          Active
        - else
          Inactive
        - if can_edit_space?(@space) and (not @space.complete)
          %li
            Done with describing your space?
            = simple_form_for @space do |f|
              = f.hidden_field :complete, :value => true
              = f.hidden_field :available, :value => true
              = f.button :submit, 'Looks good, list it!', class: 'btn-primary fullbtn button greenie radius'
      %li
        - if @space.available
          Take your space off the market for now?
          = simple_form_for @space do |f|
            = f.hidden_field :available, :value => false
            = f.button :submit, "Deactivate", class: 'btn-primary fullbtn button standard radius'
        - elsif @space.complete
          Mark your space as available again?
          = simple_form_for @space do |f|
            = f.hidden_field :available, :value => true
            = f.button :submit, "Active", class: 'btn-primary fullbtn button greenie radius'
    .well
      %h3
        $
        #{@space.monthly_price} / Month
      - if can_edit_space?(@space)
        = link_to edit_space_path(@space), {:class=>'button radius fullbtn warmish has-tip', "data-tooltip"=>"", :title => 'Like a Boss'} do
          %i{:class=>'icon-pencil'}
          Edit Listing
      - if not @space.available
        = link_to '#', {:class=>'button radius fullbtn'} do
          %i{:class=>'icon-thumbs-down'}
          NOT AVAILABLE
      - elsif not user_signed_in?
        = link_to sign_in_path, {:class=>'button radius greenie fullbtn hast-tip', :title => 'Sign in and book'} do
          %i{:class=>'icon-ok'}
          Sign in & Book It
      - else
        = form_tag(user_charges_path(current_user), method: :post) do  
          = hidden_field_tag 'space_id', @space.id
          = button_tag type: "submit", name: nil, :class => "button book-it-button radius has-tip fullbtn greenie", 'data-address'=> @space.normalized_address, 'data-price'=> @space.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key], 'data-image'=>@space.photo.url(:thumb)  do
            %i.icon-ok
            Book It
    = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
  .large-8.small-12.pull-4.columns
    %section.mb20
      %ul.small-block-3.large-block-grid-6.features
        %li
          - if @space.environment == "indoor"
            .typicons-home Indoor
          - elsif @space.environment == "outdoor"
            .maki-tree-1 Outdoor
        %li
          - if @space.type == "attic"
            .entypo-flashlight Attic Space
          - elsif @space.type == "spare room"
            .maki-lodging Spare Room
          - elsif @space.type == "garage"
            .maki-warehouse Garage
        %li
          - if @space.access == "anytime"
            .typicons-repeat Anytime Access
          - elsif @space.access == "by appointment"
            .typicons-shuffle Appointment Access
          - elsif @space.access == "limited"
            .typicons-loop One-Time Access
  
        - if @space.climate_controlled
          %li
            .entypo-thermometer Climate Controlled
        - if @space.lockable
          %li
            .entypo-lock Lockable
        - if @space.attended
          %li
            .maki-police Attended 
     
    %ul.small-block-2.large-block-grid-4.fitimg
    -if @space.photo2?
      %li
        = image_or_placeholder(@space.photo2)
    -if @space.photo3?
      %li
        = image_or_placeholder(@space.photo3)
    -if @space.photo4?
      %li
        = image_or_placeholder(@space.photo4)
    -if @space.photo5?
      %li
        = image_or_placeholder(@space.photo5)
    %section.mb20
      %h3 Overview
      %p= @space.notes
    
    %section.mb50
      %h3
        - if @space.tags.any? 
          .entypo-tag
            - @space.tags.each do |tag|
              = link_to tag.name, spaces_url(tag: tag.name)

    
    