.bigtime{:style => "background-image: url(#{@space.photo})"}
  .row
    .large-4.small.12.push-8.columns
      
    .large-8.small-12.pull-4.columns
      .shade
        %h2 
          = @space.title
        %h5
          = @space.normalized_address
.row
  .large-4.small.12.push-8.columns
    .price
      %h3
        $
        #{@space.monthly_price} / Month
      = link_to '#', {:class=>'button radius greenie fullbtn has-tip', "data-tooltip"=>"", :title => 'Click & Stow', 'data-address'=> @space.normalized_address, 'data-price'=> @space.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
        %i{:class=>'icon-ok'}
        Book It
      - if signed_in? and current_user.id == @space.user_id or current_user.has_role? :admin
        = link_to edit_space_path(@space), {:class=>'button radius fullbtn warmish has-tip', "data-tooltip"=>"", :title => 'Like a Boss'} do
          %i{:class=>'icon-pencil'}
          Edit Listing
    = gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json})
  .large-8.small-12.pull-4.columns
    %section.mb20
      %h3 Overview
      = @space.notes
    %section.mb20
      %h3 Features
      %ul
        %li
          = @space.environment
        %li  
          = @space.climate_controlled
        %li
          = @space.lockable
        %li
          = @space.attended
        %li
          = @space.featured
    %section.mb50
      %h3 
        Tags
      - if @space.tags.any?
        - @space.tags.each do |tag|
          = link_to tag.name, spaces_url(tag: tag.name)
      - else
        NONE

    %ul.small-block-2.large-block-grid-4.fitimg
      %li
        = image_or_placeholder(@space.photo2)
      %li
        = image_or_placeholder(@space.photo3)
      %li
        = image_or_placeholder(@space.photo4)
      %li
        = image_or_placeholder(@space.photo5)

    
    