.row
  .large-3.small-12.columns.fitimg
    - if @user.avatar.exists?
      = image_tag @user.avatar.url(:square)
    - else
      = image_tag "http://placehold.it/250x250"

    %h3.title #{@user.name}
    %p.small
    = mail_to "#{@user.email if @user.email}", {:class=>'button radius fullbtn standard'} do
      %i{:class=>'icon-envelope'}
      Message
      
    - if can_edit_user?(@user)
      = link_to edit_user_registration_path, {:class=>'button radius fullbtn warmish'} do
        %i{:class=>'icon-pencil'}
        Edit Profile
  .large-9.small-12.columns
    %p
      Hi I'm somebody! I live in Portland, Maine, love a good roller-derby match and have this awesome climate-controlled barn (that use to be where we would have underground roller derby matches) that's perfect for storage. I can fit a boat or two in my barn. Feel free to message me if you would like to talk about it.
    - @spaces.each do |s|
      .row
        .small-8.column
          .row
            .small-3.column.fitimg
              = link_to image_or_placeholder(s.photo, :thumb), space_path(s)
            .small-9.column
              %h3
                = link_to(h(s.title), space_path(s), {:class=>'has-tip', "data-tooltip" => "", :title => s.notes})
              %h5
                %i.icon-map-marker.pull-left
                #{s.address1}, #{s.city} #{s.state}
              %ul.inline-list
                %li{:class=>'has-tip', "data-tooltip" => "", :title => s.environment}
                  #{s.environment}
                %li{:class=>'has-tip', "data-tooltip" => "", :title => s.access}
                  #{s.type}
                %li{:class=>'has-tip', "data-tooltip" => "", :title => s.access}
                  #{s.access}

        .small-4.column
          .price
            %h3
              $
              #{s.monthly_price} / Month
            - if can_edit_space?(s)
              = link_to edit_space_path(s), {:class=>'button radius fullbtn warmish'} do
                %i{:class=>'icon-pencil'}
                Edit Listing
            - else
              = link_to '#', {:class=>'button radius greenie fullbtn', 'data-address'=> s.normalized_address, 'data-price'=> s.monthly_price, 'data-stripe_public_key'=> Rails.configuration.stripe[:publishable_key] } do
                %i{:class=>'icon-ok'}
                Book It
    / Linkedin URL
    / Facebook URL
   

