.row
  .large-4.medium-5.columns
    #owner.well.clearfix
      - if @user.avatar.exists?
        = image_tag @user.avatar.url(:square)
      %h3
        = @user.name
      - if @user != current_user
        = link_to 'javascript:;', {class: 'button fullbtn radius standard', "data-reveal-id" => "messageModal"} do
          %i{:class=>'icon-envelope'}
          Message

      - if can_edit_user?(@user)
        = link_to edit_user_registration_path, {:class=>'button radius fullbtn standard'} do
          %i{:class=>'icon-pencil'}
          Edit Profile
    %p.show-for-medium-down
      =@user.bio
  .large-8.medium-7.columns
    .hide-for-medium-down
      %p
        =@user.bio
      %hr
    - @spaces.each do |s|
      .bigtime{:style => "background-image: url(#{s.photo if s.photo.exists?})"}
        = link_to space_path(s) do
          .bigprice
            .dollars
              %sup $
              #{s.monthly_price}
            .small per month
        .shade
          %h2
            = link_to space_path(s) do
              #{s.title}
            %sup
              %i.icon-map-marker
              #{s.city}, #{s.state}
              - if can_edit_space?(s)
                |
                = link_to edit_space_path(s), { :class=>'icon-btn has-tip', :title => 'Edit Your Listing' } do
                  Edit
          %ul.features.clearfix
            - if s.environment? == "indoor"
              %li.has-tip{ data: { tooltip: 'Indoors' }, title: 'Indoors' }
                .ico-home
            - elsif s.environment == "outdoor"
              %li.has-tip{ data: { tooltip: 'Outdoors' }, title: 'Outdoors' }
                .ico-tree
            - if s.type?
              - if s.type == "attic"
                %li.has-tip{ data: { tooltip: 'Attic' }, title: 'Attic' }
                  .ico-flashlight
              - elsif s.type == "spare_room"
                %li.has-tip{ data: { tooltip: 'Spare Room' }, title: 'Spare Room' }
                  .ico-dolly
              - elsif s.type == "garage"
                %li.has-tip{ data: { tooltip: 'Garage' }, title: 'Garage' }
                  .ico-drill
              - elsif s.type == "basement"
                %li.has-tip{ data: { tooltip: 'Basement' }, title: 'Basement' }
                  .ico-travel
              - elsif s.type == "covered"
                %li.has-tip{ data: { tooltip: 'Covered' }, title: 'Covered' }
                  .ico-trailer
              - elsif s.type == "uncovered"
                %li.has-tip{ data: { tooltip: 'Uncovered' }, title: 'Uncovered' }
                  .ico-acorn
              - elsif s.type == "driveway"
                %li.has-tip{ data: { tooltip: 'Driveway' }, title: 'Driveway' }
                  .icon-road
            - if s.access?
              - if s.access == "anytime"
                %li.has-tip{ data: { tooltip: 'Anytime Access' }, title: 'Anytime Access' }
                  .ico-open
              - elsif s.access == "appointment"
                %li.has-tip{ data: { tooltip: 'Appointment Access' }, title: 'Appointment Access' }
                  .ico-clock
              - elsif s.access == "limited"
                %li.has-tip{ data: { tooltip: 'Limited Access' }, title: 'Limited Access' }
                  .ico-bolt
            - if s.climate_controlled?
              %li.has-tip{ data: { tooltip: 'Climate Controlled' }, title: 'Climate Controlled' }
                .ico-equalizer
            - if s.lockable?
              %li.has-tip{ data: { tooltip: 'Lockable' }, title: 'Lockable' }
                .ico-locked
            - if s.attended?
              %li.has-tip{ data: { tooltip: 'Attended' }, title: 'Attended' }
                .ico-tie
= render 'users/modals'

