.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        .logo
          = link_to "stowaway.co", root_path
          %small.beta beta
      %li.toggle-topbar
        %a.navicon-button{:href=>'#'}
          %i.icon-reorder.icon-2x
    %section.top-bar-section
      %ul.right
        %li.toggle-topbar
          %a{:href => "#"}
        %li
          = link_to 'Blog', blogit_path
        - if user_signed_in?
          %li.has-dropdown
            = link_to user_path(current_user), id: 'account' do
              = render 'layouts/avatar.small'
              %span
                = current_user.name
            %ul.dropdown
              %li
                = link_to user_path(current_user) do
                  %i.icon-dashboard
                  Dashboard
              %li
                = link_to user_spaces_path(current_user) do
                  %i.icon-tasks
                  My Listings
              %li
                = link_to messages_path do
                  %i.icon-envelope
                  My Messages
              %li
                = link_to user_charges_path(current_user) do
                  %i.icon-money
                  My Charges
              %li
                = link_to edit_user_registration_path(current_user) do
                  %i.icon-pencil
                  Edit Profile
              - if current_user.has_role? :admin
                %li
                  = link_to rails_admin_path do
                    %i.icon-cogs
                    Admin
              %li
                = link_to destroy_user_session_path, :method=>'delete' do
                  %i.icon-power-off
                  Sign Out
        - else
          %li
            = link_to 'Sign up', new_user_registration_path

        %li.has-dropdown
          = link_to 'Help', 'http://stowaway.uservoice.com/'
          %ul.dropdown
            %li
              = link_to 'FAQ', 'http://stowaway.uservoice.com/'
            %li
              = link_to 'Terms', terms_path
        %li.abtn
          %a.button.radius{:href => spaces_path}
            %i.icon-search.icon-left.icon-muted
            %span Find
        %li.abtn
          %a.button.radius{:href => new_space_path}
            %i.icon-plus.icon-left.icon-muted
            %span List
