.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        .logo
          = link_to "stowaway.co", root_path
          %small.beta beta
      %li.toggle-topbar.menu-icon
        %a{:href=>'#'}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li.toggle-topbar
          %a{:href => "#"}
        - if user_signed_in?
          %li.has-dropdown
            = link_to user_path(current_user), id: 'account' do
              = render 'layouts/avatar.small'
              %span 
                = current_user.name
            %ul.dropdown
              %li
                = link_to 'My Spaces', user_spaces_path(current_user)
              %li
                = link_to 'Logout', destroy_user_session_path, :method=>'delete'
              %li
                = link_to 'Terms', terms_path
              - if current_user.has_role? :admin
                %li.has-dropdown
                  = link_to 'Admin', admin_path # TODO should this be clickable?
                  %ul.dropdown
                    %li= link_to 'Admin dashboard', admin_path
                    %li
                      = link_to 'Billing events', admin_billing_events_path
                    %li
                      = link_to 'New blog post', blogit.new_post_path
        - else
          %li
            = link_to 'Sign up', new_user_registration_path
          %li
            = link_to 'Blog', blogit_path
        %li.mr10
          -# We disable turbolinking of spaces page because that breaks the Google Map on initial view
          %a.button.radius{:href => spaces_path}
            %i.icon-search.icon-left.icon-muted
            %span Find
        %li
          %a.button.radius{:href => new_space_path}
            %i.icon-plus.icon-left.icon-muted
            %span List
