.contain-to-grid
  %nav.top-bar
    %section.top-bar-section
      %ul.left.common.large-3.small-6.columns
        %li.toggle-topbar
          %a{:href => "#"}
        - if user_signed_in?
          %li.has-dropdown
            = link_to user_path(current_user), id: 'account' do
              = render 'layouts/avatar.small'
              %span 
                = current_user.name
            %ul.dropdown
              %li
                = link_to 'My Spaces', user_spaces_path(current_user)
              %li
                = link_to 'Logout', destroy_user_session_path, :method=>'delete'
              %li
                = link_to 'Terms', terms_path
          - if current_user.has_role? :admin
            %li.has-dropdown
              = link_to 'Admin', admin_path
              %ul.dropdown
                %li
                  = link_to 'Users', users_path
                %li
                  = link_to 'New blog post', blogit.new_post_path
        - else
          %li
            = link_to 'Sign up', new_user_registration_path
          %li
            = link_to 'Blog', blogit_path
      .logo.large-6.small-12.columns.t-center
        = link_to "stowaway.co", root_path
      %ul.right.large-3.small-6.engage.columns
        %li.mr10
          -# We disable turbolinking of spaces page because that breaks the Google Map on initial view
          %a.button.radius{:href => spaces_path}
            %i.icon-search.icon-left.icon-muted
            %span Find
            
        %li.signup
          %a.button.radius{:href => new_space_path}
            %i.icon-plus.icon-left.icon-muted
            %span List
