.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.logo
        = link_to "stowaway.co", root_path
      %li.toggle-topbar
        %a{:href => "#"}
    %section.top-bar-section
      %ul.right
        %li
          = link_to 'Blog', blogit_path
        %li
          -# We disable turbolinking of spaces page because that breaks the Google Map on initial view
          = link_to 'Find Space', spaces_path, 'data-no-turbolink' => true
        - if user_signed_in?
          %li.has-dropdown
            = link_to edit_user_registration_path do
              = render 'layouts/avatar.small'
              %span 
                = current_user.name
            %ul.dropdown
              %li
                = link_to 'My Spaces', '#'
              %li
                = link_to 'Logout', destroy_user_session_path, :method=>'delete'
              %li
                = link_to 'Terms', terms_path
          - if current_user.has_role? :admin
            %li.has-dropdown
              = link_to 'Admin', admin_path
              %ul.dropdown
                %li
                  = link_to 'Users', users_path
                %li
                  = link_to 'New blog post', blogit.new_post_path
        - else
          %li
            = link_to 'Sign up', new_user_registration_path
        %li.signup
          %a.button{:href => new_space_path}
            %i.icon-plus-sign.icon-left.icon-muted
            ADD SPACE
