%form
  %fieldset
    .row
      .large-4.columns
        .input-prepend.input-icon
          %input#query_location.ember-view.ember-text-field{:autocomplete => "off", :placeholder => "Enter a location", :type => "text"}/
          %span.add-on
            %i.icon-map-marker
      .large-4.form-date-range.columns
        #ember356.ember-view.inline-container
          / / Date filter
          .input-prepend.input-icon
            %input#ember361.ember-view.ember-text-field.hasDatepicker{"data-error-message" => "", "data-regexp" => "(?:0[1-9]|1[0-2])/(?:0[1-9]|[12][0-9]|3[01])/(?:19|20)[0-9]{2}", "data-required" => "true", :placeholder => "mm/dd/yyyy", :type => "text"}/
            %span.add-on
              %i.icon-calendar
          %i.divider.icon-arrow-right
          .input-prepend.input-icon
            %input#ember364.ember-view.ember-text-field.hasDatepicker{"data-error-message" => "", "data-regexp" => "(?:0[1-9]|1[0-2])/(?:0[1-9]|[12][0-9]|3[01])/(?:19|20)[0-9]{2}", "data-required" => "true", :placeholder => "mm/dd/yyyy", :type => "text"}/
            %span.add-on
              %i.icon-calendar
      .large-2.columns
        %select{:style => "display: none;"}/
        %script#metamorph-2-start{:type => "text/x-placeholder"}
        %script#metamorph-2-end{:type => "text/x-placeholder"}
        %script#metamorph-13-start{:type => "text/x-placeholder"}
        %script#metamorph-3-start{:type => "text/x-placeholder"}
        %option#ember394.ember-view{:value => "1"}/
        = succeed "1" do
          %script#metamorph-14-start{:type => "text/x-placeholder"}
        Passenger
        %script#metamorph-14-end{:type => "text/x-placeholder"}
        %script#metamorph-3-end{:type => "text/x-placeholder"}
        %script#metamorph-4-start{:type => "text/x-placeholder"}
        %option#ember395.ember-view{:value => "2"}/
        = succeed "2" do
          %script#metamorph-15-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-15-end{:type => "text/x-placeholder"}
        %script#metamorph-4-end{:type => "text/x-placeholder"}
        %script#metamorph-5-start{:type => "text/x-placeholder"}
        %option#ember396.ember-view{:value => "3"}/
        = succeed "3" do
          %script#metamorph-16-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-16-end{:type => "text/x-placeholder"}
        %script#metamorph-5-end{:type => "text/x-placeholder"}
        %script#metamorph-6-start{:type => "text/x-placeholder"}
        %option#ember397.ember-view{:value => "4"}/
        = succeed "4" do
          %script#metamorph-17-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-17-end{:type => "text/x-placeholder"}
        %script#metamorph-6-end{:type => "text/x-placeholder"}
        %script#metamorph-7-start{:type => "text/x-placeholder"}
        %option#ember398.ember-view{:value => "5"}/
        = succeed "5" do
          %script#metamorph-18-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-18-end{:type => "text/x-placeholder"}
        %script#metamorph-7-end{:type => "text/x-placeholder"}
        %script#metamorph-8-start{:type => "text/x-placeholder"}
        %option#ember399.ember-view{:value => "6"}/
        = succeed "6" do
          %script#metamorph-19-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-19-end{:type => "text/x-placeholder"}
        %script#metamorph-8-end{:type => "text/x-placeholder"}
        %script#metamorph-9-start{:type => "text/x-placeholder"}
        %option#ember400.ember-view{:value => "7"}/
        = succeed "7" do
          %script#metamorph-20-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-20-end{:type => "text/x-placeholder"}
        %script#metamorph-9-end{:type => "text/x-placeholder"}
        %script#metamorph-10-start{:type => "text/x-placeholder"}
        %option#ember401.ember-view{:value => "8"}/
        = succeed "8" do
          %script#metamorph-21-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-21-end{:type => "text/x-placeholder"}
        %script#metamorph-10-end{:type => "text/x-placeholder"}
        %script#metamorph-11-start{:type => "text/x-placeholder"}
        %option#ember402.ember-view{:value => "9"}/
        = succeed "9" do
          %script#metamorph-22-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-22-end{:type => "text/x-placeholder"}
        %script#metamorph-11-end{:type => "text/x-placeholder"}
        %script#metamorph-12-start{:type => "text/x-placeholder"}
        %option#ember403.ember-view{:value => "10"}/
        = succeed "10+" do
          %script#metamorph-23-start{:type => "text/x-placeholder"}
        Passengers
        %script#metamorph-23-end{:type => "text/x-placeholder"}
        %script#metamorph-12-end{:type => "text/x-placeholder"}
        %script#metamorph-13-end{:type => "text/x-placeholder"}
        #ember369_chzn.chzn-container.chzn-container-single{:style => "width: 90px;", :title => ""}
          %a.chzn-single{:href => "javascript:void(0)", :tabindex => "-1"}
            %span 1 Passenger
          %div
            %b
          .chzn-drop{:style => "left: -9000px; width: 88px; top: 35px;"}
            .chzn-search
              %input{:autocomplete => "off", :style => "width: 53px;", :type => "text"}/
            %ul.chzn-results
              %li#ember369_chzn_o_0.active-result.result-selected.ember-view{:style => ""}
                %script#metamorph-14-start{:type => "text/x-placeholder"}>
                1 Passenger
                %script#metamorph-14-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_1.active-result.ember-view{:style => ""}
                %script#metamorph-15-start{:type => "text/x-placeholder"}>
                2 Passengers
                %script#metamorph-15-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_2.active-result.ember-view{:style => ""}
                %script#metamorph-16-start{:type => "text/x-placeholder"}>
                3 Passengers
                %script#metamorph-16-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_3.active-result.ember-view{:style => ""}
                %script#metamorph-17-start{:type => "text/x-placeholder"}>
                4 Passengers
                %script#metamorph-17-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_4.active-result.ember-view{:style => ""}
                %script#metamorph-18-start{:type => "text/x-placeholder"}>
                5 Passengers
                %script#metamorph-18-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_5.active-result.ember-view{:style => ""}
                %script#metamorph-19-start{:type => "text/x-placeholder"}>
                6 Passengers
                %script#metamorph-19-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_6.active-result.ember-view{:style => ""}
                %script#metamorph-20-start{:type => "text/x-placeholder"}>
                7 Passengers
                %script#metamorph-20-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_7.active-result.ember-view{:style => ""}
                %script#metamorph-21-start{:type => "text/x-placeholder"}>
                8 Passengers
                %script#metamorph-21-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_8.active-result.ember-view{:style => ""}
                %script#metamorph-22-start{:type => "text/x-placeholder"}>
                9 Passengers
                %script#metamorph-22-end{:type => "text/x-placeholder"}
              %li#ember369_chzn_o_9.active-result.ember-view{:style => ""}
                %script#metamorph-23-start{:type => "text/x-placeholder"}>
                10+ Passengers
                %script#metamorph-23-end{:type => "text/x-placeholder"}
      .large-2
        %button.btn.large.radius{"data-ember-action" => "1"} Search