!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Stowaway"
      %meta{:content => content_for?(:description) ? yield(:description) : "Stowaway", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        %link{ type: "text/css", rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans+Condensed:300,700|Dosis:300,400,500,600,700" }
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #main{:role => "main"}
      = render 'layouts/navigation'
      .row
        .columns
          .box.columns
            = yield
      #f_shiv
    %footer#footer
      = render 'layouts/footer'
    / ! end of #container
